{% extends "base.html" %}
{% block content %}
<div class="row">

<div class="col-sm-6" style="margin-top: 10px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Моё расписание</h5>
        <p class="card-text">Посмотреть расписание.</p>
        <a href="{% url 'lesson-list' %}" class="btn btn-primary">Перейти</a>
      </div>
    </div>
  </div>
<div class="col-sm-6" style="margin-top: 10px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">О сервисе</h5>
        <p class="card-text">Подробная информация о сервисе.</p>
        <a href="#" class="btn btn-primary">Перейти</a>
      </div>
    </div>
  </div>


<div class="col-sm-6" style="margin-top: 10px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Техническая поддержка</h5>
        <p class="card-text">Обратиться за помощью в техническую поддержку.</p>
        <a href="#" class="btn btn-primary">Перейти</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}